.ready_section {
    background: #F67E7E;
    padding-top: 83px;
    padding-bottom: 83px;
    background-image: url(/img/ready_bc_img.svg);
    background-repeat: no-repeat;
    background-position: bottom left;

    &__title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        text-align: center;
        color: #012f34;
        margin-bottom: 24px;
    }

    &__btn {
        display: block;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 156%;
        color: #012f34;
        border: 2px solid #012f34;
        border-radius: 24px;
        background: #F67E7E;
        padding: 11px 23px;
        margin-left: auto;
        margin-right: auto;

        &:hover{
            background-color: #012f34;
            color: #fff;
        }

        &:active{
            transform: scale(1.05);
        }


    }

    &__content {
        text-align: center;

    }

    @media screen and (min-width:768px) {
        &__blog {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 84px;
        }


    }

    @media screen and (min-width:1024px) {
        &__blog {
            display: flex;
            justify-content: center;
            gap: 260px;
        }

        &__title {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 48px;
            line-height: 100%;
            color: #012f34;
        }
    }

    @media screen and (min-width:1440px) {
        &__blog {
            display: flex;
            justify-content: space-between;

        }
    }

}